.btn-group i{
	margin-right: 5px;
}
.options{
	margin: 10px auto;
}
.resultsList>ul{
	margin:0;
	padding:0;
}
.resultsList>ul>li{
	margin:8px 0;
	list-style: none;
	padding:8px;
	line-height: 25px;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: rgba(16, 6, 6, 0.62);
	position: relative;
	overflow: hidden;
}
.resultsList>ul>li span{
	color:black;
	font-size: 15px;
	font-weight: bold;
}
.resultsList>ul>li i.glyphicon{
	margin-right: 10px;
}
.resultsList>ul>li>.row>div{
	margin:3px 0;
}
